# 1. IF-ELSE

In [4]:
applePrice = 210
budget = 200
if (applePrice <= budget):   # : colon
    print("Alexa, add 1kg Apples to the cart.")
else:
    print("Alexa, do not add Apples to the cart.")

Alexa, do not add Apples to the cart.

# 2. elif statements

In [8]:
# example
num = 0
if (num<0):
    print("Number is Negative.")
elif (num ==0):
    print("Number is Zero.")
else:
    print("Number is Positive.")

Number is Zero.

In [9]:
# if condition:
    # code block to execute if condition is true
# else:
    # code block to execute if condition is false

# Nested if Statements

In [10]:
num = 18
if (num < 0):
    print("Number is negative")
elif (num>0):
    if (num <=10):
        print("Number is between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is between 11-20")
    else:
        print("number is greater than 20")
else:
    print("Number is Zero")

Number is between 11-20

# MOST IMPORTANT QUESTIONS OF IF, ELIF & ELSE.

In [12]:
# 1. IF ELSE
word = "a"
if word == "a":
    print("Yes, the word is equal to a")
else:
    print("NO")

NO

In [16]:
# if elif else
# 2. write a program to calculate the number is greater than, equal to or less than to the given input.

num = int(input("enter the number: "))
if num > 5:
    print("number is greater than 5")
elif num == 5:
    print("number is equal to 5")
else:
    print("number is less than 5")

enter the number:  10

number is greater than 5

In [20]:
# nested if question
# 3. write a program that determines food choices based on pocket money.

pocketMoney = int(input("enter your pocket money: "))
if pocketMoney > 400:
    print("pizza")
    if pocketMoney > 500:
        print("pizza + burger")
        if pocketMoney > 700:
            print("pizza + burger + coldrink")
elif (pocketMoney > 200) and (pocketMoney < 400):
    print("pizza only")
else:
    print("burger only")

enter your pocket money:  1000

pizza
pizza + burger
pizza + burger + coldrink

In [23]:
# 4 write a python program to show that the person can vote or not.

age = 19
if age>18:
    print("can vote")
else:
    print("can not vote")

can vote

In [27]:
# 5. taking input from user and show the number is even or odd.

num = int(input("enter the number: "))
if num %2==0:
    print("number is even")
elif num%2!=0:
    print("number is odd")
else:
    print("INVALID OPERATOR")

enter the number:  100

number is even

In [29]:
# 6. find the maximum of two numbers.
# if a> b ( print a) and if n is a< b then print b is greater

a = int(input("enter the value of a"))
b = int(input("enter the value of b"))
if a>b:
    print("a is greater than b: ", a)
else:
    print("b is greater than a:", b)

enter the value of a 100
enter the value of b 50

a is greater than b:  100

# 7 basic calculator

In [32]:
# write a basic calculator application program using python.

first = input("enter the first number: " )
second = input("enter the second number:")
first = int(first)
second = int(second)

print("---Press keys for operator (+, -, *, /, %, //, **)----")
operator = input("Enter the operator : ")

if operator == '+':
    print(first + second)
elif operator == '-':
    print(first - second)
elif operator == '*':
    print(first * second)
elif operator == '/':
    print(first / second)
elif operator == '%':
    print(first % second)
elif operator == '//':
    print(first // second)
elif operator == '**':
    print(first ** second)
else:
    print("INVALID OPERATOR")

enter the first number:  8
enter the second number: 4

---Press keys for operator (+, -, *, /, %, //, **)----

Enter the operator :  -

4

In [37]:
# 8 
# WRITE A PYTHON PROGRAM THAT PRINT SOMETHING ACCORDING TO THE GIVEN WEATHER.

weather = input("Enter the weather condition: ").lower()
if weather == "rainy":
    print("Wear a raincoat")
elif weather== "sunny":
    print("Wear sunscream and sunglass")
else:
    print("Wear appropriate clothing for the weather.")

Enter the weather condition:  rainy

Wear a raincoat

# 9. Grade calculator and classifier.

In [38]:
# calculate the percentage, and then assigns a grade based on the percentage obtained.

In [40]:
# logical building question for if, elif and else
a = float(input("marks a: "))
b = float(input("marks b: "))
c = float(input("marks c: "))
d = float(input("marks d: "))
e = float(input("marks e: "))

percentage = (a+b+c+d+e) / 500 * 100
print(percentage)

if percentage > 95:
    print('A+')
elif percentage > 90:
    print('A')
elif percentage > 80:
    print('B+')
elif percentage > 70:
    print('B')
elif percentage > 50:
    print('C+')
elif percentage > 40:
    print('C')
elif percentage > 33:
    print('F')
else:
    print("INVALID INPUT")

marks a:  99
marks b:  98
marks c:  97
marks d:  96
marks e:  95

97.0
A+

# LOGICAL OPERATORS

In [41]:
# AND 
x = 5
print(x>3 and x<100)

True

In [43]:
# or
x = 5
print(x > 30 or x< 40)

True

In [44]:
# not
x = 5
print(not(x> 3 and x < 10))

False

# LOOPS

In [45]:
# for loop

name = 'hello world'
for i in name:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [46]:
# example
# iteration over a list:

colors = ['Red', 'Green', 'Blue', 'Yellow']
for x in colors:
    print(x)

Red
Green
Blue
Yellow

In [47]:
# range()

for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
for i in range(1, 100): 
    print(i)

# it starts from 1
# till the 99. 100 is not include.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# quick quiz

In [49]:
# explore about parameter of range (ie range(X,Y,Z))

In [50]:
count = 5
while (count > 0):
    print(count)
    count = count-1

5
4
3
2
1

In [1]:
count = 0
while (count < 5):
    print(count)
    count +=1
# count = count + 1

0
1
2
3
4

In [2]:
# else with while loop

x = 5
while (x>0):
    print(x)
    x = x - 1
else:
    print('Counter is 0')

5
4
3
2
1
Counter is 0

# D0-WHILE LOOP  IN PYTHON

In [4]:
# EXAMPLE:
while True:
    number = int(input("Enter a positive number : "))
    print(number)
    if not number > 0:
        break

Enter a positive number :  1

1

Enter a positive number :  4

4

Enter a positive number :  -1

-1

# questions of loops

In [9]:
# calculate the sum of natural numbers using for loop

sum = 0
i = 1
for i in range(1,4):  # 4 is not include
    sum = sum + i
print(sum)

# 1+2+3 = 6

6

In [12]:
# calculate the product of n natural numbers using loop
# factorial question
product = 1
for i in range(1,5):  # 5 is not include
    product *= i
print(product)

24

In [17]:
# calculate the sum of natural numbers using while loop

i = 1
sum = 0
while i<=3:
    sum = sum + i
    i = i + 1
print(sum)

6

In [1]:
# calculate the product of n natural numbers/ factorial code

i = 1
product = 1
while i<=5:
    product = product * i
    i += 1
print(product)

120

In [3]:
i = 1
product = 1
num = int(input("entr the number: "))
product = 1
while i <= num:
    product = product * i
    i += 1
print(product)

entr the number:  5

120

In [4]:
# explanation
# 1*2*3*4*5= 120

# STAR PATTERNS (INTERVIEW QUESTION)

In [5]:
# QUESTION 1

# THIS IS SIMPLE STAR PATTERN.

# *
# **
# ***
# ****
# *****

In [1]:
# i = 1
# while i <=1000:
#     print(i * '*')
#     i = i + 1

In [13]:
i = 1
while i <= 5:
    print(i * 'hello')
    i += 1

hello
hellohello
hellohellohello
hellohellohellohello
hellohellohellohellohello

In [14]:
# QUESTION 2:
# PRINT A TRIANGLE OF STARS, INVERTED

rows = 5
for i in range(rows, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [16]:
# question 3:
# print a right-angled triangle of stars.
rows = 5
for i in range(1, rows + 1):
    print(' ' * (rows - i) +  '*' * i)
    
# () - this bracket is called paranthesis in python.

    *
   **
  ***
 ****
*****

# Break

In [3]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]
for student in students:
    if (student == "radha"):
        break
    print(student)

ram
shyam
kishan

# continue

In [4]:
for student in students:
    if (student == "kishan"):
        continue
    print(student)

ram
shyam
radha
radhika

In [5]:
# other questions of break and continue

In [10]:
# 1. Searching with 'break'

search_list = [3, 8, 12, 7, 15, 6]
target = int(input("Enter the number to search: "))

for num in search_list:
    if num == target:
        print("Number found!")
        break

else:
    print("Number not found.")

Enter the number to search:  7

Number found!

In [12]:
# 2 Skipping Negative Numbers with 'continue'

num_list = [5, -3, 8,-2, 10, -7]
positive_sum = 0

for num in num_list:
    if num < 0:
        continue
    positive_sum += num

print("Sum of positive numbers:", positive_sum)

Sum of positive numbers: 23

In [13]:
# # 3 Factorial Calculation with 'break'.

# what is factorial --> 
# # example
# factorial of 4 --> 1*2*3*4

In [20]:
number = int(input("Enter a number: "))
factorial = 1
threshold = 10000

for i in range(1, number + 1):
    factorial *= i
    if factorial > threshold:
        print("Factorial exceeds threshold.")
        break
else:
    print("Factorial:", factorial)

Enter a number:  4

Factorial: 24

# factorial of 5 --> 1*2*3*4*5