In [1]:
# list (imp.)
# multiple items in single variable is called list.

In [6]:
#  C M O S D

# ordered collection
# multiple in single
# sq bracket
# changeable
# different datatypes

SyntaxError: invalid syntax (2141214875.py, line 3)

In [7]:
# LIST

l = [3,5,6]
print(l)
print(type(l))

[3, 5, 6]
<class 'list'>

In [10]:

marks = [3, 5, 6, "Harry", True]  # can have diff DT (LIKE STRING ND BOOLEAN HERE,)
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])
print(marks[4])
# print(marks[5])

[3, 5, 6, 'Harry', True]
<class 'list'>
3
5
6
Harry
True

In [20]:
# LIST INDEX
# start from 0


# last element index will be n-1 (where n is len)
a = [1,2,4,454,645,23,256,42,7907,0,54,90]
print(len(a))
# o/p len = 12 , n-1=11
# so last element index will be 11
print(a[11])


# also, last elements index = -1

12
90

In [22]:
# NEGATIVE INDEXING

# Note: jb bi -ve mile tb convert it into +ve
# is case me len lga bi skte hai aur ni bi. but agar -ve wala kr rhe hai to mn me ese hi krna haitaki positivee me ho jay. 
# 
marks = [3, 5, 6, "Harry", True]
print(marks[-3])   # Negative index
print(marks[len(marks)-3]) # Positive index
print(marks[5-3]) # Positive index
print(marks[2])

6
6
6
6

In [12]:
# check wheather item in list or not
# use "in" keyword = to check

marks = [3, 5, 6, "Harry", True]
if 7 in marks:
    print("Yes")
else:
    print("No")
    

if "Harry" in marks:
    print("Yes")
else:
    print("No")


    
if 6 in marks:   # output yes
    print("Yes")
else:
    print("No")
    
if "6" in marks:   # output no 
    print("Yes")
else:
    print("No")

No
Yes
Yes
No
Yes
Yes

In [14]:
#  same thing applies for strings as well!
if "arry" in "Harry":   #o/p yes
    print("Yes")
    
if "ary" in "Harry":  #o/p no
    print("Yes")

if "Ha" in "Harry":   #o/p yes
    print("Yes")

Yes
Yes

In [26]:
# printing element with a particular range: (list slicing)

marks = [3, 5, 6, "Harry", True]
print(marks)
print(marks[:])
print(marks[1:])
print(marks[1:-1])  # convert into +ve see below line
print(marks[1:4])

[3, 5, 6, 'Harry', True]
[3, 5, 6, 'Harry', True]
[5, 6, 'Harry', True]
[5, 6, 'Harry']
[5, 6, 'Harry']

In [29]:
# jump index
marks = [3, 5, 6, "Harry", True,6 ,7, 2, 32, 345, 23]

print(marks[1:8])
print(marks[1:8:2])  #jb bi is treh ka ques krna ho to slicing kr lo means see above line.

print(marks[1:8:3])

[5, 6, 'Harry', True, 6, 7, 2]
[5, 'Harry', 6, 2]
[5, True, 2]

In [31]:
# note: 

# print(marks[:])
# 1st empty means = starts from 0
# 2nd empty means = len(marks)

In [23]:
# List Comprehensive (more codes)
# hm list comprehension se new list generate kr skte hai, condition lgake bi.

lst = [i for i in range(4)]
print(lst)

lst = [i*i for i in range(4)]
print(lst)

[0, 1, 2, 3]
[0, 1, 4, 9]

In [37]:
lst = [i*i for i in range(10)]
print(lst)
lst  = [i*i for i in range(10) if i%2==0]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [3]:
# code no. is even or odd

n = int(input("enter the number"))
if n%2==0:
    print("number is even")
else:
    print("number is odd")

enter the number10
number is even

In [25]:

a = ["apple", "mango"]
print(len(a))
print(len(a[1]))

2
5