In [1]:
# problem1 code

In [2]:
# NOTE 1: 3 things add for sum nd product, ek upar sum, ek niche , sum + i, ek last me print(sum). similarly for product.
# NOTE 2: range(1,5) ise form me likhna hai,bcoz hme 1 se start krna hai. if we ri8 range(5)-> 0,1,2,3,4 it starts from 0. and iska effect sum pe to kuch ni hoga but product pe hoga uska output zero ho jayega.
# Note 3: sum initialize from 0 and product from 1
# code 1 for loop

for i in range(1,5):    # 5 is not include
    print(i)

# SUM USING FOR LOOP
sum = 0      #1ST THING
for i in range(1,5):
    sum = sum + i   #2ND THING
print(sum)    #3RD THING


# PRODUCT USING FOR LOOP (FACTORIAL)
product = 1     #1
for i in range(1,5):
    product = product * i    #2
print(product)      #3

1
2
3
4
10
24

In [1]:
# code 2: while loop

i = 1              
while i<=5:
    print(i)
    i = i + 1
    
# SUM USING FOR LOOP   
i = 1
sum = 0    #1
while i<=4:
    sum = sum + i #2
    i = i + 1
print(sum)      #3

# factorial (product of n natural numbers)
i = 1
product = 1   #1
while i<=4:
    product = product * i  #2
    i = i + 1
print(product) #3

1
2
3
4
5
10
24

In [2]:
# code 3: list sum
# same as above, bs range me LIST KA NAME likhna hai
l = [1,2,3,4,5]
sum = 0     #1
for i in l:
    sum = sum + i   #2
print(sum)        #3

# list product
l = [1,2,3,4,5]
product = 1     #1
for i in l:
    product = product * i   #2
print(product)      #3

sum = 0     #1
for i in [1,2,3,4,5]:
    sum = sum + i   #2
print(sum)   


product = 1     #1
for i in [1,2,3,4,5]:
    product = product * i   #2
print(product)

15
120
15
120

In [3]:
# steps for all

# steps
# Initialize sum to 0.
# Iteration 1: (i=1): sum = 0 + 1 = 1
# Iteration 2: (i=2): sum = 1 + 2 = 3
# Iteration 3: (i=3): sum = 3 + 3 = 6
# Iteration 4: (i=4): sum = 6 + 4 = 10
# Iteration 5: (i=5): sum = 10 + 5 = 15

# note:
# 1,6 me 1 sum me likhna is not compulsor but product me jruri hai.
# 1,6 means 1,2,3,4,5 print hoga\ (6 isn't include)
# we can also write this in sum not product: -> for i in range(6) -> 0,1,2,3,4,5   (6 isn't include)

In [ ]:
# problem 2 code

In [ ]:
l = [1,2,3,4,5]
for i in l:
    for j in l:
        print('({},{})'.format(i,j))

In [3]:
for i in range(1,6):
    for j in range(1,6):
        print('({},{})'.format(i,j))

(1,1)
(1,2)
(1,3)
(1,4)
(1,5)
(2,1)
(2,2)
(2,3)
(2,4)
(2,5)
(3,1)
(3,2)
(3,3)
(3,4)
(3,5)
(4,1)
(4,2)
(4,3)
(4,4)
(4,5)
(5,1)
(5,2)
(5,3)
(5,4)
(5,5)

In [1]:
# problem 9

A = [1,2,3,4]
B = [2,3,4,5,6]
for i in A:
    for j in B:
        if i<j:
            print('({},{})'.format(i,j))

(1,2)
(1,3)
(1,4)
(1,5)
(1,6)
(2,3)
(2,4)
(2,5)
(2,6)
(3,4)
(3,5)
(3,6)
(4,5)
(4,6)

In [3]:
A = [1,2,3,4]
B = [2,3,4,5,6]
for i in A:
    for j in B:
            #if i<j:
            print('{},{}'.format(i,j))

1,2
1,3
1,4
1,5
1,6
2,2
2,3
2,4
2,5
2,6
3,2
3,3
3,4
3,5
3,6
4,2
4,3
4,4
4,5
4,6

In [4]:
for i in range(3,16,2):
    print(i)

3
5
7
9
11
13
15

In [5]:
for i in range(4,15,2):
    print(i)

4
6
8
10
12
14