In [3]:
# creation of dataframe from dictonary of series.
import pandas as pd
Resultsheet = {"jack":pd.Series([91,92,93],index = ["maths","science","English"]),"john":pd.Series([82,83,84],index = ["maths","science","english"]),"jill":pd.Series([92,74,58],index = ["math","science","english"])}
Rdf = pd.DataFrame(Resultsheet)
print(Rdf)

         jack  john  jill
English  93.0   NaN   NaN
english   NaN  84.0  58.0
math      NaN   NaN  92.0
maths    91.0  82.0   NaN
science  92.0  83.0  74.0

In [21]:
# adding new column to a data frame
Resultsheet = {"jack":pd.Series([91,92,93],index = ["maths","science","English"]),"john":pd.Series([82,83,84],index = ["maths","science","english"]),"jill":pd.Series([92,74,58],index = ["math","science","english"])}
Rdf = pd.DataFrame(Resultsheet)
# Rdf[index]= [89, 98, 67]
# print(RDF)
# RDF.loc["hindi"]=[60, 61, 67]
# print(RDF)
RDF = rdf.drop('science',axis=0)
print(RDF)

NameError: name 'rdf' is not defined

In [22]:
# delete row or coloum from a database
# Dataframe.drop method
# whenever we are deleting row and column from a DataFrame we need to specify the name of labels to be drop and the axis 
# from which they need to be drop.

#IMPORTANT POINT - to delete a row axis value will be zero and for deleting column value will be 1.

In [6]:
import pandas as pd

Resultsheet = {
    "jack": pd.Series([91, 92, 93], index=["maths", "science", "English"]),
    "john": pd.Series([82, 83, 84], index=["maths", "science", "english"]),
    "jill": pd.Series([92, 74, 58], index=["math", "science", "english"]),
}

Rdf = pd.DataFrame(Resultsheet)
print(Rdf)
Rdf.loc["hindi"] = [60, 61, 67]
print(Rdf)

Rdf = Rdf.drop("science", axis=0)
print(Rdf)

Rdf.loc["hindi"] = [60, 61, 62]  # Change values for "hindi" row
# Change column names
Rdf = Rdf.rename(columns={"jack": "new_jack", "john": "new_john", "jill": "new_jill"})

Rdf['programming'] = pd.Series([95, 89, 78], index=["jack", "john", "jill"])

print(Rdf)

         jack  john  jill
English  93.0   NaN   NaN
english   NaN  84.0  58.0
math      NaN   NaN  92.0
maths    91.0  82.0   NaN
science  92.0  83.0  74.0
         jack  john  jill
English  93.0   NaN   NaN
english   NaN  84.0  58.0
math      NaN   NaN  92.0
maths    91.0  82.0   NaN
science  92.0  83.0  74.0
hindi    60.0  61.0  67.0
         jack  john  jill
English  93.0   NaN   NaN
english   NaN  84.0  58.0
math      NaN   NaN  92.0
maths    91.0  82.0   NaN
hindi    60.0  61.0  67.0
         new_jack  new_john  new_jill  programming
English      93.0       NaN       NaN          NaN
english       NaN      84.0      58.0          NaN
math          NaN       NaN      92.0          NaN
maths        91.0      82.0       NaN          NaN
hindi        60.0      61.0      62.0          NaN

In [ ]:
# renaming the datafram
# dataframe.rename
# axis = index is use to specify row level is to be change