# SYNTAX OF FUNCTION IN PYTHON

In [1]:
def function_name(parameters):
    pass
    # code and statements

# calling a function

In [2]:
# example

In [3]:
def name(fname, lname):
    print("Hello", fname, lname)

name("same", "wilson")

Hello same wilson

In [6]:
def cars():
    print("Audi", "BMW")

cars()

Audi BMW

# FUNTION ARGUMENTS AND RETURN STATEMENT

In [21]:
# DEFAULT ARGUMENTS

def name(fname, mname="John", lname="whatson"):
    print("Hello", fname, mname, lname)

# calling a function
name("Amy")

Hello Amy John whatson

# what is parameters and whai is arguments.

In [8]:
# parameters are defined by the function or method, 
# whereas arguments are the actual values passed to those parameters when the function or method is called.

In [23]:
def add(a, b):
     print(a + b)
# call a fucntion
add(5,8)

13

def add(a, b):
     return print(a + b)
# call a fucntion
add(5,8)

# keyword arguments

In [26]:
def name(fname, mname, lname):
    print("Hello", fname, lname, lname)

name(mname="peter", lname="wesker", fname="jada")

Hello jada wesker wesker

# Required arguments

In [24]:
# example1:
def name(fname, mname, lname):
    print("Hello", fname, mname, lname)

# calling a function
name("Peter", "Quill")
# type error

TypeError: name() missing 1 required positional argument: 'lname'

# variable-length arguments

In [5]:
# there are 2 types of variables-length arguments.
# 1 arbitary arguments

In [10]:
def name(*name):
    print("Hello,", name[0], name[1], name[0])

# calling the funtion
name("ram", "shyam", "khushi")

Hello, ram shyam ram

In [17]:
# 2 key arbitary arguemnt

def name(**name):
    print("Hello", name["fname"], name["mname"])

# call the function
name(mname = "Ram", lname="Jhon", fname="James")

Hello James Ram

# RETURN STATEMENT

In [16]:
def name(fname, mname, lname):
    return "Hello", fname + " " + mname + " " + lname

# call the function
print(name("James","Buchana","Barnes"))

('Hello', 'James Buchana Barnes')

# Exercise

In [18]:
# CALCULATOR USING FUNCTION

In [7]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

print("Select operator:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Division")

while True:
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        num1  = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))

        break
    else:
        print("Invalid Input")

Select operator:
1. Add
2. Subtract
3. Multiply
4. Division

Enter choice (1/2/3/4):  4
Enter first number:  100
Enter second number:  50

Result: 2.0

# local and global variable

In [8]:
# variable
x = 6
s = "hello world"

# x and s is variable of different data types

In [9]:
x = 10 # global variable

def my_fuction():
    y = 5 local variable
    print(y)

# call the fuction:
my_function()
print(x)
pint(y) # this will cause and error because y is a local variable and is not accessible outside of the function

SyntaxError: invalid syntax (1367431938.py, line 4)

# The global keyword

In [11]:
x = 10

def my_function():
    global x # global keyword
    x = 5 # this will change the value of the global variable x
    y = 5 # local variabel

# call the function
my_function()
print(x)  # prints 5
# print(y) # this will cause and error because y is a local variable and is not accessible outside of the function

5

# question

In [12]:
# create a Python program to add 2 numbers and Displaying the Result using function and global and local variabl concept.

In [14]:
result = 0

def add_numbers(num1, num2):   # parameters
    # Local variable
    sum_result = num1 + num2
    # Updationg global variable
    global result
    result = sum_result

# User input
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# call the function
add_numbers(num1, num2)   # arguments

# Printing the result
print("Sum of", num1, "and", num2, "is:", result)

Enter the first number:  9
Enter the second number:  10

Sum of 9.0 and 10.0 is: 19.0

# LEAP YEAR

In [15]:
# Python program using a function to determine if a given year is leap year.

In [23]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# User input for the year
year = int(input("Enter a year: "))

# Check if the year is a leap year using the function
if is_leap_year(year):
    print(f"{year} is a leap year.")
    # print(year, "is a leap year".)
else:
    print(f"{year} is not a leap year.")

Enter a year:  9000

9000 is not a leap year.