In [4]:
# see first database notebook for theory notes

In [ ]:
pip install pandas

In [5]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)   # D and F is capital

print(myvar)   # myvar any variable name

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas
mydataset = {
    "fruits" : ["Apple", "Mango", "cherry"],
    "number" : [3,10,9]
}

myvar = pandas.DataFrame(mydataset)
print(myvar)

   fruits  number
0   Apple       3
1   Mango      10
2  cherry       9

In [2]:
import pandas as pd

In [4]:
series1 = pd.Series([10,20,30])
print(series1)

0    10
1    20
2    30
dtype: int64

In [13]:
# creation of series from scaler values
series2 = pd.Series(["Alex","scot","tiger"], index=("a","b","c"))
print(series2)
print(type(series2))

a     Alex
b     scot
c    tiger
dtype: object
<class 'pandas.core.series.Series'>

In [20]:
series2 = pd.Series([1,2,3], index=["c","a","b"])
print(series2)
print(type(series2))
# reverse means jha number hai wha string and vice versa,

c    1
a    2
b    3
dtype: int64
<class 'pandas.core.series.Series'>

In [29]:
# creation of series from numpy arrays    
# array ka all caluculation numpy me ho jata hai
# one dimensional
import numpy as np
import pandas as pd
arr1 = np.array([1,2,3,4])
series3 = pd.Series(arr1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [3]:
import numpy as np
import pandas as pd
arr1 = np.array([1,2,3,4])
series4 = pd.Series(arr1,index= ["a","b","c","d"])
print(series4)
print(type(series4))

# index should be equal to number

a    1
b    2
c    3
d    4
dtype: int32
<class 'pandas.core.series.Series'>

In [46]:
# creation of series from dictionary
dict1 = {"india":"newdelhi", "uk":"london", "japan":"tokya"}
print(dict1)

{'india': 'newdelhi', 'uk': 'london', 'japan': 'tokya'}

In [47]:
# case 1 series
# case 2 array 
# case 3 dictionary

In [48]:
# accesing array with series
# two comman way for accesing the element of the series
# 1. indexing
# positional index
# level index
# 2. slicing

In [49]:
# example
series_num = pd.Series([10, 20, 30])   #index 0,1,2
print(series_num[2])

30

In [53]:
series_num = pd.Series([10, 20, 30], index = ("a","b","c"))  #index 0,1,2
print(series_num[2])

30

In [55]:
# for aceesing 2 values
series_num = pd.Series([10, 20, 30])   #index 0,1,2
print(series_num[1],series_num[2])

20 30

In [58]:
series_num = pd.Series([10, 20, 30]) 
print(series_num[1:2])

1    20
dtype: int64

In [61]:
# revesing colon colon -1 
series_num = pd.Series([10, 20, 30]) 
print(series_num[::-1])

2    30
1    20
0    10
dtype: int64

In [62]:
# MODIFY THE VALUE OF SERIES ELEMENTS USING SLICING
series_num = pd.Series(np.arange(10,16,1)) 
print(series_num)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int32

In [63]:
series_num = pd.Series(np.arange(10,16,1), index = ("a", "b", "c", "d", "e","f"))   # small bracket
print(series_num)

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

In [7]:
series_num = pd.Series(np.arange(10,16,1), index = ["a", "b", "c", "d", "e","f"])
print(series_num)

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

In [9]:
series_num = pd.Series(np.arange(2,15,3), index = ("a", "b", "c", "d", "e","f"))   # small bracket
print(series_num)

ValueError: Length of values (5) does not match length of index (6)