# 1 Lists

In [1]:
# example1
lst1 = [1,2,3,4,5]
print(lst1)

[1, 2, 3, 4, 5]

In [7]:
print(type(lst1))

<class 'list'>

In [3]:
lst2 = ["Python", "java", "c", "c++","html"]
print(lst2)

['Python', 'java', 'c', 'c++', 'html']

In [4]:
print(type(lst2))

<class 'list'>

In [5]:
# a single list can contain items of different data types.

mix_list = [1,2,"Python",5,"Java"]
print(mix_list)
print(type(mix_list))

[1, 2, 'Python', 5, 'Java']
<class 'list'>

# LIST INDEX

In [6]:
# colors = ["Red", "blue", "green"]
#           [0]      [1]     [3]

# ACCESSING LIST ITEMS

In [8]:
# positive indexing

language = ["Python", "Java", "C", "C++"]
print(language[0])

Python

In [13]:
print(language[1])
print(language[2])
print(language[3])

Java
C
C++

In [14]:
#  Negative Indexing

colors = ["Red", "Green", "Blue", "Yellow"]
print(colors[-1])

Yellow

In [20]:
print(colors[-2])
print(colors[-3])
print(colors[-4])

Yellow
Green
Red

In [16]:
# it will show error if element not found in list

print(colors[-5])

IndexError: list index out of range

In [19]:
# check wheather an item is present in the list?

colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Blue" in colors:
    print("Blue is present")
else:
    print("Blue is absent")

Blue is absent

# range

In [21]:
# syntax:
# listName[Start:end:jumpIndex/skip}

In [23]:
# Example: Printing elements within a particular range:


# list slicing
cars = ["Hyundai", "Ford", "BMW", "Tesla", "Audi", "Honda", "Toyota", "Subaru"]
print(cars[3:7])

['Tesla', 'Audi', 'Honda', 'Toyota']

In [26]:
# negative slicing
print(cars[-7:-2])  # -ve slicing
           # -7 means = no.of elements - 7 => 1
print(cars[1:6])  # +ve slicing

['Ford', 'BMW', 'Tesla', 'Audi', 'Honda']
['Ford', 'BMW', 'Tesla', 'Audi', 'Honda']

In [27]:
# note: the end index will not be include

In [29]:
# Example: printing all elements from a given index till the end.

animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[4:])
print(animals[-4:])  # -4 means --> 9-4 = 5

['pig', 'horse', 'donkey', 'goat', 'cow']
['horse', 'donkey', 'goat', 'cow']

In [36]:
# When no end index is provided, the interpreter prints all the values till the end.

# EXAMPLE:

In [31]:
# Printing all element from start to a given index

animals = ["Cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[:6])

['Cat', 'dog', 'bat', 'mouse', 'pig', 'horse']

In [32]:
print(animals[:3]) # 3 is not include

['Cat', 'dog', 'bat']

In [33]:
# example: printing alternative values 
aniamls = ["Cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[::2]) # using positive indexes

['Cat', 'bat', 'pig', 'donkey', 'cow']

In [34]:
# question:
# printing every 3rd consecutive values writing a given range

animals = ["Cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[1:8:3])

['dog', 'pig', 'goat']

# very important

# LIST COMPREHENSION

In [37]:
# lIST COMPREHENSION ARE USED TO CREATING NEW LISTS FROM OTHER ITERABLES LIKE LSITS,
# TUPLES, DICTIONARIES, SETS, AND EVEN IN ARRAYS AND STRINGS

In [38]:
# syntax:
# List = [Expression(item) for item in iterable if Condition]

# Expression = It is the item which is being iterated.
# Iterable = It can be list, tuple, dictionaries, sets, and even in arryas and strings.
# Condition checks if the item should be added to the new list or not.

In [41]:
# Example1: Accepts items with the small letter "O" in the new list

names = ["ram", "shyam", "radha", "amit", "rohan", "shelja", "Khushi"]
newWith_a = [item for item in names if "a" in item]
print(newWith_a)

['ram', 'shyam', 'radha', 'amit', 'rohan', 'shelja']

In [44]:
names = ["ram", "shyam", "radha", "amit", "rohan", "shelja", "Khushi"]
newWith_o = [item for item in names if "o" in item]
print(newWith_o)

['rohan']

In [45]:
# Example2 : ACCEPTS ITEMS WHICH HAVE MORE THAN 4 LETTER/

names = ["ram", "shyam", "radha", "amit", "rohan", "shelja", "Khushi"]
newWith_o = [item for item in names if (len(item)>4)]
print(newWith_o)

['shyam', 'radha', 'rohan', 'shelja', 'Khushi']

In [1]:
names = ["amit", "rohan", "shelja", "Khushi"]
for item in names:
    print(item)
    print(len(item))

amit
4
rohan
5
shelja
6
Khushi
6

In [55]:
# imp question:
# How to taking inpur form user in list

items_list = input("Enter a list of items separted by spaces: ").split()
print("List of items", items_list)

Enter a list of items separted by spaces:  1 2 3 4 5

List of items ['1', '2', '3', '4', '5']

In [56]:
items_list = input("Enter a list of items separted by spaces: ").split()
print("List of items", items_list)

Enter a list of items separted by spaces:  a b c d

List of items ['a', 'b', 'c', 'd']

# LIST METHODS

# sort()

In [ ]:
# ascending
colors = ["violet", "indigo", "blue", "green"]
colors.sort()
print(colors)

In [3]:
# by default sort = ascending

In [4]:
# ascending
num = [4,5,6,72,5,9]
num.sort()
print(num)

[4, 5, 5, 6, 9, 72]

In [5]:
# descending
colors = ["violet", "indigo", "blue", "green"]
colors.sort(reverse = True)
print(colors)

['violet', 'indigo', 'green', 'blue']

In [6]:
# descending
num = [95,7,310,50,38]
num.sort(reverse=True)
print(num)

[310, 95, 50, 38, 7]

# reverse()

In [9]:
colors = ["violet", "indigo", "blue", "green"]
colors.reverse()
print(colors)

['green', 'blue', 'indigo', 'violet']

In [11]:
num = [5,1,9,5,7]
num.reverse()
print(num)

[7, 5, 9, 1, 5]

# index()

In [15]:
colors = ["violet", "green", "indigo", "blue", "green"]
print(f'index of green is : {colors.index("green")}')

index of green is : 1

In [14]:
num = [5,6,3,4,9,7,8,1,2,0]
print(f'index of 3 is :{num.index(3)}')

index of 3 is :2

# count()

In [ ]:
colors = ["violet", "green", "indigo", "blue", "green"]
print(colors.count("green"))

# copy()

In [19]:
colors = ["violet", "green", "indigo", "blue"]
newList = colors.copy()
print(colors)
print(newList)

['violet', 'green', 'indigo', 'blue']
['violet', 'green', 'indigo', 'blue']

# append():

In [21]:
colors = ["violet", "indigo", "blue"]
colors.append("green")
print(colors)

['violet', 'indigo', 'blue', 'green']

# insert()

In [23]:
colors = ["violet", "indigo", "blue"]
colors.insert(1, "green")
print(colors)

['violet', 'green', 'indigo', 'blue']

# extend():

In [25]:
# adding a list to a list
colors = ["violet", "indigo", "blue"]
rainbow = ["green", "yellow", "orange", "red"]
colors.extend(rainbow)
print(colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1.extend(list2)
print(list1)

# Concatenation two lists

In [27]:
colors = ["violet", "indigo", "blue", "green"]
colors2 = ["yellow", "orange", "red"]
print(colors + colors2)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

# Tuples

In [28]:
tup1 = ("python", "java", "c", "c++", "html", "reactJs")
print(tup1)

('python', 'java', 'c', 'c++', 'html', 'reactJs')

In [29]:
print(type(tup1))

<class 'tuple'>

In [31]:
algorithms = "bubble_sort", "quick_sort", "merge_sort", "heap_sort", "djiktras_algorithm"
print(algorithms)

('bubble_sort', 'quick_sort', 'merge_sort', 'heap_sort', 'djiktras_algorithm')

In [33]:
print(type(algorithms))

<class 'tuple'>

In [34]:
# tuple_indexes
country = ("spain", "Italy", "India")
             # [0],      [1],   [2]

# Accessing tuple items

In [35]:
# 1. positive indexing
countru = ("spain", "Italy", "India")
print(country[0])
print(country[1])
print(country[2])

spain
Italy
India

In [36]:
# 2. Negative Indexing
county = ("spain", "Italy", "India", "England", "Germany")
           # [0]      [1]      [2]      [3]           [4]

In [37]:
print(country[-1])
print(country[-2])
print(country[-3])

India
Italy
spain

In [41]:
# 3. check for item:
# using "in" keyword


# item is present
country = ("spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

Germany is present.

In [43]:
# item is not present

country = ("spain", "Italy", "India", "England", "Germany")
if "Australia" in country:
    print("Australia is present.")
else:
    print("Australia is absent.")

Australia is absent.

In [45]:
# 4. Range of Index

# syntax:
# Tuple[start: end: Jumpindex]

In [49]:
# example: printing elements within a particular range:

animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals [3:7]) # using positive indexes
print(animals[-7:-2]) # using negative indexes

('mouse', 'pig', 'horse', 'donkey')
('bat', 'mouse', 'pig', 'horse', 'donkey')

In [52]:
# printing all the elements from given index till the end

animals = ("cat", "dog", "bat", "mouse", "pig", "horse","donkey", "goat", "cow")
print(animals[4:])

('pig', 'horse', 'donkey', 'goat', 'cow')

In [54]:
print(animals[-4:])    #  -4 => len(elements) - (4) = 5

('horse', 'donkey', 'goat', 'cow')

In [56]:
print(f'There are {len(animals)} elements in animals variable')

There are 9 elements in animals variable

# Python Dictionary

In [57]:
name_age = {"ram":20, "shyam":24, "shelja":19}
print(name_age)

{'ram': 20, 'shyam': 24, 'shelja': 19}

In [58]:
print(type(name_age))

<class 'dict'>

# Accessing Dictionary items:

In [59]:
# 1. Accessing single value

In [60]:
# example
info = {'name':'karan', 'age':19, 'eligible': True}
print(info['name'])
print(info.get('name'))

karan
karan

In [61]:
# Accessing multiple values: (values method())

In [63]:
teachers = {'python':"aishwarya_sir", "ml":"aashima_mam","numpy": "manpreet_mam","sql":"nitish_sir", "Big_Data":"Neema_mam"}
print(teachers)

{'python': 'aishwarya_sir', 'ml': 'aashima_mam', 'numpy': 'manpreet_mam', 'sql': 'nitish_sir', 'Big_Data': 'Neema_mam'}

In [65]:
print(teachers.values())

dict_values(['aishwarya_sir', 'aashima_mam', 'manpreet_mam', 'nitish_sir', 'Neema_mam'])

In [ ]:
# accessing keys
print(teachers.keys())

In [68]:
print(teachers.items())

dict_items([('python', 'aishwarya_sir'), ('ml', 'aashima_mam'), ('numpy', 'manpreet_mam'), ('sql', 'nitish_sir'), ('Big_Data', 'Neema_mam')])

# Dictionary Methods

In [78]:
# update() method
info = {'name':'khushi', 'age':19, 'eligible':True}
print(info)
info.update({'age':20})

{'name': 'khushi', 'age': 19, 'eligible': True}

In [79]:
info.update({'DOB':2004})

In [80]:
print(info)

{'name': 'khushi', 'age': 20, 'eligible': True, 'DOB': 2004}

# clear()

In [82]:
info = {'name':'karan', 'age': 19, 'eligible':True}
info.clear()
print(info)

{}

# pop()

In [87]:
info = {'name':'karan', 'age': 19, 'eligible':True}
info.pop('eligible')
print(info)

{'name': 'karan', 'age': 19}

# popitem()

In [88]:
info = {'name':'karan', 'age': 19, 'eligible':True}
info.popitem()
print(info)

{'name': 'karan', 'age': 19}

# del()

In [89]:
info = {'name':'karan', 'age': 19, 'eligible':True}
del info['age']
print(info)

{'name': 'karan', 'eligible': True}

In [92]:
# NameError: name 'info' is not defined
info = {'name':'karan', 'age':19, 'eligible':True}
del info
print(info)

NameError: name 'info' is not defined