In [2]:
cars = ["ford","audi","maruti"]
for i in cars:
    print(i)

ford
audi
maruti

In [3]:
# looping through a string
for i in "DataScience":
    print(i)

D
a
t
a
S
c
i
e
n
c
e

In [4]:
cars = ['ford','audi','maruti']
for i in cars:
    if(i=="audi"):
        break
    print(i)

ford

In [19]:
cars = ['ford','audi','maruti']
for i in cars:
    print(i) # agar print(i) if se pehle hai to break wala bi print hoga
    if(i=='audi'):   # agar print(i) if se pehle hai to break wa print ni hoga
        break

ford
audi

In [29]:
cars = ['ford','audi','maruti']
for i in cars:
    
    if(i=='audi'):
        continue
    print(i)

ford
maruti

In [30]:
# range function   # range function: to loop through a set of code a specified number of times, we can use the range() function,
# the range() function returns a sequence of numbers, starting from 0 by default, and increnets by 1 (by defaul), and at a 
# specific

In [31]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [32]:
for i in range(2,6):
    print(i)

2
3
4
5

In [33]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [34]:
# else keyword

In [25]:
for x in range(6):
    print(x)
else:
    print("finally, finished")

0
1
2
3
4
5
finally, finished

In [28]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("finally,finished")

0
1
2