In [ ]:
# assigning variable

var = "PythonforDatascience"
print(var)

In [2]:
name = "amit"
print(name)

amit

In [3]:
__name = "abc"
print(__name)

abc

In [4]:
# keyword can't be used for defining variable

for = "avx"
print(for)

SyntaxError: invalid syntax (3046818841.py, line 1)

In [5]:
# keyword = is predefined function, that python understand, not need to install

In [7]:
a,b,c = 1,2,"PythonforDatascience"
print(a,b,c)

1 2 PythonforDatascience

In [8]:
# local or global variables

# scope of variables = kitne access tk wo run ho skta hai

In [10]:
# local variable = 
# global variable=

In [14]:
def fun():
    local_var = 10
    print(local_var)

# calling the function
fun()

10

In [15]:
# it shows error becuse local variable can't be run outside the function.
def fun():
    local_var = 10
print(local_var)

NameError: name 'local_var' is not defined

In [1]:
# variable defines outside of any variable is called global variable

In [2]:
# global or local scope

In [3]:
def fun():
    global_var = 10
    print(global_var)
    global x
    x = 20

# calling the function
fun()
print(x)

10
20

In [21]:
# set = collection of unique numbers/ collection of well defined objects.

In [22]:
a = "name"
print(type(a))

<class 'str'>

In [23]:
# sequencial datatype = sequence me store krna like list, tuple etc.

In [24]:
x = frozenset{"a","b"}
print(x)

SyntaxError: invalid syntax (1966962417.py, line 1)

In [25]:
# complex numbers = combination of real and imaginary number.

In [29]:
a = 2 + 3j
print(a)
print(type(a))

(2+3j)
<class 'complex'>

In [32]:
# accessing string value / indexing

a = "welcometopython"
print(a[2])
print(a[-1])

l
n

In [35]:
import numpy as np
var1 = np.array([1,2,3,4])
print(var1)
print(type(var1))

[1 2 3 4]
<class 'numpy.ndarray'>

In [ ]:
# tuple can define with and without paranthesis

In [38]:
tup = ("a","b","c")
print(tup)
print(type(tup))

('a', 'b', 'c')
<class 'tuple'>

In [42]:
tup = "a","b","c"
print(tup)
print(type(tup))

('a', 'b', 'c')
<class 'tuple'>

In [45]:
# boolean
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [46]:
is_genius = True
print(is_genius)
print(type(is_genius))

True
<class 'bool'>

In [53]:
# LIST TO SET

list = [1,2,3,4,5]
a = set(list)
print(a)
print(type(a))
for i in a:
    print(i)

{1, 2, 3, 4, 5}
<class 'set'>
1
2
3
4
5

In [51]:
lst = [1,2,3,4,5]
a = set(lst)
print(a)
print(type(a))
for i in a:
    print(i, end=" ")

{1, 2, 3, 4, 5}
<class 'set'>
1 2 3 4 5

In [6]:
tup = (1,2,3,4,5)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [5]:
a = True
b = False
x = 10
if x == 5:
    print(a)
else:
    print(b)
    print(type(b))

False
<class 'bool'>

In [7]:
# set datatype a set is an unordered collection of items and can be iterable

In [8]:
lst = ["a","b","c","d","e"]
for i in lst:
    print(i)

# # here print is function
# # iterable print fuction ko execute kr rha hai.


# mutable
# not duplicate / unique

a
b
c
d
e

In [16]:
# create a set

# using list to set

lst = set(["a","b","c","d","e"])
print(lst)

{'a', 'b', 'e', 'c', 'd'}

In [17]:
# can't be access its element using index

lst = set(["a","b","c","d","e"])
print(lst)
print(lst[0])

# TypeError: 'set' object is not subscriptable

{'a', 'b', 'e', 'c', 'd'}

TypeError: 'set' object is not subscriptable

In [18]:
# dictionary
# key value pairs
# each value separated by colon
# using curly braces
# can be boolen, list, elements,string, numeric

In [20]:
# case sensitive
dic = {"key":1,"Key":2}
print(dic)

# key and Key both is differenct key is different

{'key': 1, 'Key': 2}

In [3]:
# question


class1 = {"classA": [1, 2, 3, 4, 5] , "classB": [1, 2, 3, 4, 5]}
print(class1)

print(class1["classA"])

{'classA': [1, 2, 3, 4, 5], 'classB': [1, 2, 3, 4, 5]}
[1, 2, 3, 4, 5]

In [4]:
# NOTE: class is a keyword and keyword ke name se kbhi variable ni bn skta

In [8]:
class1 = {"classA": [1, 2, 3, 4, 5] , "classB": [1, 2, 3, 4, 5]}

# Accessing the entire dictionary
print(class1)

# Accessing the value associated with the key "classA"
print(class1.get("classA"))

# Accessing the value associated with a key that does not exist (with default value)
print(class1.get("classC", "Key not found"))  # Providing a default value

{'classA': [1, 2, 3, 4, 5], 'classB': [1, 2, 3, 4, 5]}
[1, 2, 3, 4, 5]
Key not found

In [6]:


# assignment operator
# membership operator

In [7]:
print(10%2)     #  remainder operator

0

In [9]:
# for quotient simple divide

In [11]:
print(2**4)

16

In [12]:
print(4//2)

2

In [13]:
# assignment operator

# =
# +=
# -= decrement
# *=

In [14]:
i = 0
while i<=5:
    print(i)
    i += 1

0
1
2
3
4
5

In [2]:
x = 5
y = 2
x *= y  
print(x)

10

In [4]:
# comparision operators
a = 5
if a == 5:
    print(a)

5

In [5]:
# make a number list 
# in a  list me 2 se bde hai to print

In [14]:
a = [1,2,3,4,5,6]
for i in a: 
    if i>2:
        print(i)

3
4
5
6

In [17]:
# logical operators

a = 5
b = 6
if a==5 and b == 6:
    print("True")
else:
    print("False")

True

In [22]:
# question

In [21]:
# # membership operator 
# in 
# not in

b = [1,2,3,4]
if 2 in b:
    print("True")
else:
    print("False")

True

In [23]:
c = [1,2,3,4]
if 2 not in c:
    print("True")
else:
    print("False")

False

In [31]:
# how to take list input
a = input("Enter elements of the list separated by spaces: ").split()
print(a)

Enter elements of the list separated by spaces:  1 2 3 4

['1', '2', '3', '4']

In [ ]:
# 12 feb 2024

In [18]:
lst = ["shukla", "raj", "amit", "khushi"]
print(lst)
lst.append("anamika")
print(lst)

['shukla', 'raj', 'amit', 'khushi']
['shukla', 'raj', 'amit', 'khushi', 'anamika']

In [10]:
# frutit 
# vaegatable
# for i in list b
# list a.appe

['apple', 'mango', 'grapes', ['pea', 'onion', 'mushroom']]
['apple', 'mango', 'grapes', ['pea', 'onion', 'mushroom'], ['pea', 'onion', 'mushroom']]
['apple', 'mango', 'grapes', ['pea', 'onion', 'mushroom'], ['pea', 'onion', 'mushroom'], ['pea', 'onion', 'mushroom']]

In [24]:
# question

a = ["apple", "mango", "grapes"]
b = ["pea", "onion", "mushroom"]

for i in b:    
    a.append(i)
print(a)

['apple', 'mango', 'grapes', 'pea', 'onion', 'mushroom']

In [25]:
#  INSERT

# list.insert(position,element)

In [27]:
a = ["apple", "mango", "grapes"]

a.insert(1,"kiwi")
print(a)

['apple', 'kiwi', 'mango', 'grapes']

In [30]:
# extend

a = ["apple", "mango", "grapes"]
b = ["pea", "onion", "mushroom"]
a.extend(b)
print(a)

['apple', 'mango', 'grapes', 'pea', 'onion', 'mushroom']

In [31]:
print(a.extend(b))

None

In [36]:
list = [1,2,3,4]
print(sum(list))
# or
sum(list)

10

10

In [ ]:
# type error if sum of no. % str.

In [41]:
# count() occurence of no. in a list

list = [1,2,3,4,1,1,1,6,7,8,1]
list.count(1)

5

In [43]:
# len()
list = [1,2,3,4,5,6,7,8,9]
print(len(list))

9

In [44]:
# # a list of 10 number find average
# 1. sum
# 2. len//2

In [8]:
l1 = [1,2,3,4]
print(l1)

[1, 2, 3, 4]

In [9]:
print(sum(l1)/len(l1))

2.5

In [19]:
# index = it is used to find the first occurence index

l2 = [1,2,3,1,2,1,2,3,2,1]
print(l2.index(3))

2

AttributeError: 'list' object has no attribute 'min'

In [20]:
# min(iterable, *iterables, key)

# iterable = jo iterate ho ske
# eatable = jo eat ho ske

In [21]:
# similarly max

In [25]:
number = [1,2,3,4,5]
print(min(numbers))


numbers = [1,2,3,4,5]
print(max(numbers))

1
5

In [51]:
# range max - min

list = [3,5,4,1,5]

a = max(list)
b = min(list)
print(f"max: {a} ")
print(f"min: {b} ")

r = a - b
print(f"range: {r} ")

max: 5
min: 1
range: 4

5
1
4

In [29]:
number = [7,3,6,1,2,8,9]
number.sort()
print(number)

[1, 2, 3, 6, 7, 8, 9]

In [32]:
number = [7,3,6,1,2,8,9]
number.sort(reverse = True)
print(number)

[9, 8, 7, 6, 3, 2, 1]

In [33]:
list = [7,3,6,1,2,8,9]
list.reverse()
print(list)

[9, 8, 2, 1, 6, 3, 7]

In [34]:
# deletion of list elements
# pop
# del

In [36]:
# syntax list.pop(index)

list = [7,3,6,1,2,8,9]
list.pop(1)
print(list)

[7, 6, 1, 2, 8, 9]

In [40]:
# del list[index]

In [41]:
list = [2,3,4,5]
del list[0]
print(list)

[3, 4, 5]

In [53]:
# remove()
# remove variables by their names.

list = [2,3,4,4,5,6]
list.remove(3)
print(list)

[2, 4, 4, 5, 6]